:root {
	--main-bg-color: rgb(148, 160, 250);  
	--main-text-color: rgb(19, 33, 136);  
}

@font-face {	font-family: bittermilk;		src: url(fonts/Bittermilk.ttf);}
@font-face {	font-family: some-time-later;	src: url("fonts/Some Time Later.otf");}
@font-face {	font-family: chocholate-bar;	src: url("fonts/Chocolate Bar Demo.otf");}
@font-face {	font-family: jazz-ball;			src: url(fonts/Jazz_Ball_Regular.ttf);}
@font-face {	font-family: grandstander;		src: url(fonts/Grandstander-clean2.otf);}
@font-face {	font-family: huxtable;			src: url(fonts/huxtable.ttf);}
@font-face {	font-family: vademecum;			src: url(fonts/vademecum.ttf);}

body
{
	font-family: Tahoma;
	color:var(--main-text-color);
	background-color: var(--main-bg-color);
	font-family: "grandstander";
	text-align: center;
}

h1
{
	text-align: center;
	font-size:40px;
	font-family: "grandstander";
}
h1,h2,h3
{
	text-shadow: 1px 1px 0px #fff,
				-1px 1px 0px #fff,
				 1px -1px 0px #fff,
				-1px -1px 0px #fff;	
}
h2
{
	padding:0;
	margin:0;
}

nav label,
nav select option
{
	font-family: grandstander;
	font-size: 12px;
	color:var(--main-text-color);
	line-height: 1.1em;

}
nav select
{
	height: 30px;
	width: 200px;
	margin-right: 20px;
	margin-left: 10px;
}


.feladatKartya
{
	border:3px solid var(--main-text-color);
	sfont-size: 0;
	display: inline-block;
	margin:10px;
	border-radius: 10px;
	vertical-align: top;
	font-size: 12px;
	text-align: left;
	background-color: #fdfdfd;
	background-repeat: no-repeat;
	background-position: 5% 95%;
	background-size: 100px;
	box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.6);
	_display:none;

}
.feladatKartya h3
{
	//border:3px solid var(--main-text-color);
	padding:10px;
	background-color: var(--main-text-color);
	color:white;
	border-radius: 6px 6px 0 0;
	text-align: center;
	margin:0;
	font-weight: normal;
	text-shadow: 1px 1px 0px #000,
				-1px 1px 0px #000,
				 1px -1px 0px #000,
				-1px -1px 0px #000;	
}}
.feladatKartya h3 a
{
	color:white;
	text-decoration: none;
}

.feladatKartya .feladatTartalom
{
	background: rgba(253, 253, 253, 0.8);
	float:left;
	border-radius: 0 0 6px 6px;
}

.feladatKartya.paint	{	border-color:#fcbc34; background-image: url(logo/paint.png);	}
.feladatKartya.sql		{	border-color:#1d1f21; background-image: url(logo/sql.png);	}
.feladatKartya.mysql	{	border-color:#00758f; background-image: url(logo/mysql.png);	}
.feladatKartya.mariadb	{	border-color:#966c46; background-image: url(logo/mariadb.png); //#002764	}
.feladatKartya.text		{	border-color:#1d1f21;	}
.feladatKartya.programozas{	border-color:#673c96; background-image: url(logo/cSharp.png);	}
.feladatKartya.html		{	border-color:#62c8cb; background-image: url(logo/htmlCss.png);	}
.feladatKartya.access	{	border-color:#a4373a; background-image: url(logo/access.png);	}
.feladatKartya.powerpoint{	border-color:#b7472a; background-image: url(logo/powerpoint.png);	}
.feladatKartya.word		{	border-color:#2a579a; background-image: url(logo/word.png);		}
.feladatKartya.excel	{	border-color:#227447; background-image: url(logo/excel.png);	}
.feladatKartya.halozat	{	border-color:#049fd9; background-image: url(logo/cisco.png);	}

/*feladat cím*/
.feladatKartya.paint h3		{	background-color: #fcbc34; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.sql h3		{	background-color: #1d1f21; color:#ddd1a8; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.mysql h3		{	background-color: #00758f; color:#f29111; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.mariadb h3	{	background-color: #966c46; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000; //#002764	}
.feladatKartya.text h3		{	background-color: #1d1f21; color:#ddd1a8; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.programozas h3{	background-color: #673c96; color:#d7bef4; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.html h3		{	background-color: #62c8cb; color:#00504c; text-shadow: 1px 1px 0px #fff,-1px 1px 0px #fff,1px -1px 0px #fff,-1px -1px 0px #fff;	}
.feladatKartya.access h3	{	background-color: #a4373a; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.powerpoint h3{	background-color: #b7472a; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.word h3		{	background-color: #2a579a; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.excel h3		{	background-color: #227447; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}
.feladatKartya.halozat h3	{	background-color: #049fd9; color:#fdfdfd; text-shadow: 1px 1px 0px #000,-1px 1px 0px #000,1px -1px 0px #000,-1px -1px 0px #000;	}

/*feladat logo a címben*/
/*
.feladatKartya h3		{	
	background-repeat: no-repeat;
	background-position: right 5px top 5px;
	background-size: 40px;
}
.feladatKartya.access h3		{	
	background-image: 	url(logo/access3.png);
}
*/

.adatSor
{
}
.feladatKartya .feladatTartalom > ul li span:nth-of-type(odd),
.feladatKartya .feladatTartalom > div span:nth-of-type(odd)
{
	color:black;
	font-weight: bold;
	display: inline-block;
	width: 70px;
}
.feladatKartya .feladatTartalom > ul li span:nth-of-type(even),
.feladatKartya .feladatTartalom > div span:nth-of-type(even),
a
{
	color:var(--main-text-color);
	font-style: italic;
	text-decoration: none;
}

.feladatKartya ul
{
	list-style-type: none;
	margin:0;
	padding:0;
	padding-left:20px;
	margin-bottom:10px;
}
.feladatKartya .feladatTartalom > ul
{
	display: inline-block;
	float:left;
	width:200px;
	padding:5px;
}

.feladatKartya .feladatTartalom > div
{
	display: inline-block;
	width:250px;
	padding:5px;
	float:left;
	
}

.forras
{
	spadding-bottom:200px;
	sbackground-color: red;
}

li > a
{
	font-size:12px;
}

/* ------- File ikonok -------- */

li a:before{
	margin: 0 10px 0 5px;
	display:inline-block;
	content:url(img2/default.png);
}

li a[href$=".docx"]:before {
  content:url(https://img.informer.com/icons/png/16/4135/4135583.png);
  content:url(img2/doc.gif);
/*	background-image:url("img/doc.png");
	background-size: 20px 20px;
    display: inline-block;
    width: 20px; 
    height: 20px;
    content:"";*/
}

li a[href$=".pptx"]:before,
li a[href$=".pptx"]:before,
li a[href$=".ppsx"]:before
{
  content:url(http://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/16/PowerPoint-icon.png);
}

li a[href$=".xlsx"]:before {
  content:url(http://icons.iconarchive.com/icons/carlosjj/microsoft-office-2013/16/Excel-icon.png);
}

li a[href$=".pdf"]:before {
  content:url(http://www.wischenbart.com/img/pdf_icon.gif);
}

li a[href$=".pdf"]:before {content:url(img2/pdf.gif);}
li a[href$=".pas"]:before, a[href$=".dpr"]:before, a[href$=".exe"]:before, 
li a[href$=".pas"]:before, a[href$=".pas"]:before, a[href$=".pas"]:before, 
li a[href$=".pas"]:before, a[href$=".pas"]:before, a[href$=".pas"]:before
{content:url(img2/file.gif);}

li a[href$=".accdb"]:before {content:url(img2/accdb.png);}
li a[href$=".cpp"]:before {content:url(img2/cpp.png);}
li a[href$=".cxx"]:before {content:url(img2/cpp.png);}
li a[href$=".cs"]:before {content:url(img2/cs.png);}
li a[href$=".css"]:before {content:url(img2/css.png);}
li a[href$=".csv"]:before {content:url(img2/csv.png);}
li a[href$=".default"]:before {content:url(img2/default.png);}
li a[href$=".doc"]:before {content:url(img2/doc.png);}
li a[href$=".docx"]:before {content:url(img2/docx.png);}
li a[href$=".exe"]:before {content:url(img2/exe.png);}
li a[href$=".html"]:before {content:url(img2/html.png);}
li a[href$=".ico"]:before {content:url(img2/ico.png);}
li a[href$=".json"]:before {content:url(img2/json.png);}
li a[href$=".ldb"]:before {content:url(img2/ldb.png);}
li a[href$=".mdb"]:before {content:url(img2/mdb.png);}
li a[href$=".pdf"]:before {content:url(img2/pdf.png);}
li a[href$=".pkt"]:before {content:url(img2/pkt.png);}
li a[href$=".png"]:before {content:url(img2/png.png);}
li a[href$=".PNG"]:before {content:url(img2/png.png);}
li a[href$=".gif"]:before {content:url(img2/png.png);}
li a[href$=".GIF"]:before {content:url(img2/png.png);}
li a[href$=".jpg"]:before {content:url(img2/png.png);}
li a[href$=".JPG"]:before {content:url(img2/png.png);}
li a[href$=".jpeg"]:before {content:url(img2/png.png);}
li a[href$=".ppt"]:before {content:url(img2/ppt.png);}
li a[href$=".pptx"]:before {content:url(img2/pptx.png);}
li a[href$=".res"]:before {content:url(img2/res.png);}
li a[href$=".txt"]:before {content:url(img2/txt.png);}
li a[href$=".TXT"]:before {content:url(img2/txt.png);}
li a[href$=".xls"]:before {content:url(img2/xls.png);}
li a[href$=".xlsx"]:before {content:url(img2/xlsx.png);}
li a[href$=".zip"]:before {content:url(img2/zip.png);}
li a[href$=".sql"]:before {content:url(img2/sql.png);}
/* ------- File ikonok -------- */

#szurok
{
	_width:1360px;
	_margin:auto;
	text-align: center;
}

#szurok fieldset
{
	text-align: left;
	display: inline-block;
	border-color:var(--main-text-color);
	background-color: #fdfdfd;
	height: 220px;
	vertical-align: top;
}

/*szélességek*/
#szurok fieldset:nth-child(1){	width:90px;	}
#szurok fieldset:nth-child(2){	width:230px;	}
#szurok fieldset:nth-child(3){	width:90px;	}
#szurok fieldset:nth-child(4){	width:380px;	}
#szurok fieldset#rendezes	{	width:130px;	}

/* jajj, de gáz ez így :( */
#szurok fieldset#rendezes .kozepSzo	{	display:inline-block;width:50px;font-size: 12px;	}
#szurok fieldset#rendezes .szelsoSzo {	display: inline-block;width: 20px;text-align: center;}
#szurok fieldset#rendezes .szelsoSzo:nth-child(1){	padding-left:-4px; }
#szurok fieldset#rendezes .szelsoSzo:nth-child(3){	padding-left:4px; }


#szurok fieldset legend
{
	font-weight: bold;
	background-color: #fdfdfd;
	border:1px solid var(--main-text-color);
	padding:0 15px;
	border-bottom: 0px;
}

#szurok fieldset label
{
	display: inline-block;
}
#szurok fieldset:nth-child(1) label{	width:170px;	}
#szurok fieldset:nth-child(2) label{	width:60px;	}
#szurok fieldset:nth-child(3) label{	width:80px;	}
#szurok fieldset:nth-child(4) label{	width:100px;	}

#szurok fieldset label:nth-child(2n) {
    sdisplay: block;
}
#szurok fieldset label:nth-child(4n+1):after {
	scontent: "\A";
	swhite-space: pre;
}
#szurok fieldset label
{
	display: inline-block;
}
#szurok fieldset label input
{
	margin-right:10px;
	border-color:var(--main-text-color);
	background-color: var(--main-bg-color);
}
/*
	custom checkbox, https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_custom_checkbox
<label class="container">One
  <input type="checkbox" checked="checked">
  <span class="checkmark"></span>
</label>
*/
/* The container */
.container2,
.container {
  display: block;
	font-weight: bold;
  position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container2 input,
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark,
.container:hover input ~ .checkmark {
  background-color: #999;
}

/* When the checkbox is checked, add a blue background */
.container2 input[type="radio"]:checked ~ .checkmark,
.container input[type="checkbox"]:checked ~ .checkmark {
  background-color: var(--main-text-color);
}

/* Create the checkmark/indicator (hidden when not checked) */
.container2 .checkmark:after,
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container2 input[type="radio"]:checked ~ .checkmark:after,
.container input[type="checkbox"]:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 3px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */

/* Create a custom radio button */
.container2 .checkmark {
  border-radius: 50%;
}

.container2 .checkmark:after {
  border-radius: 50%;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  background: white;
}
.container .checkmark:after {
}
